
li.nav-title
  | Example Menu Below
li.nav-item
  a.nav-link(href=ajax ? 'main.html' : 'index.html')
    i.nav-icon.icon-speedometer
    |  Dashboard
    span.badge.badge-primary NEW
if !starter
  li.nav-title
    | Theme
  li.nav-item
    a.nav-link(href="colors.html")
      i.nav-icon.icon-drop
      |  Colors
  li.nav-item
    a.nav-link(href="typography.html")
      i.nav-icon.icon-pencil
      |  Typography
  li.nav-title
    | Components
  li.nav-item.nav-dropdown
    a.nav-link.nav-dropdown-toggle(href="#")
      i.nav-icon.icon-puzzle
      |  Base
    ul.nav-dropdown-items
      li.nav-item
        a.nav-link(href='base/breadcrumb.html')
          i.nav-icon.icon-puzzle
          |  Breadcrumb
      li.nav-item
        a.nav-link(href='base/cards.html')
          i.nav-icon.icon-puzzle
          |  Cards
      li.nav-item
        a.nav-link(href='base/carousel.html')
          i.nav-icon.icon-puzzle
          |  Carousel
      li.nav-item
        a.nav-link(href='base/collapse.html')
          i.nav-icon.icon-puzzle
          |  Collapse
      li.nav-item
        a.nav-link(href='base/forms.html')
          i.nav-icon.icon-puzzle
          |  Forms
      li.nav-item
        a.nav-link(href='base/jumbotron.html')
          i.nav-icon.icon-puzzle
          |  Jumbotron
      li.nav-item
        a.nav-link(href='base/list-group.html')
          i.nav-icon.icon-puzzle
          |  List group
      li.nav-item
        a.nav-link(href='base/navs.html')
          i.nav-icon.icon-puzzle
          |  Navs
      li.nav-item
        a.nav-link(href='base/pagination.html')
          i.nav-icon.icon-puzzle
          |  Pagination
      li.nav-item
        a.nav-link(href='base/popovers.html')
          i.nav-icon.icon-puzzle
          |  Popovers
      li.nav-item
        a.nav-link(href='base/progress.html')
          i.nav-icon.icon-puzzle
          |  Progress
      li.nav-item
        a.nav-link(href='base/scrollspy.html')
          i.nav-icon.icon-puzzle
          |  Scrollspy
      li.nav-item
        a.nav-link(href='base/switches.html')
          i.nav-icon.icon-puzzle
          |  Switches
      li.nav-item
        a.nav-link(href='base/tables.html')
          i.nav-icon.icon-puzzle
          |  Tables
      li.nav-item
        a.nav-link(href='base/tabs.html')
          i.nav-icon.icon-puzzle
          |  Tabs
      li.nav-item
        a.nav-link(href='base/tooltips.html')
          i.nav-icon.icon-puzzle
          |  Tooltips
  li.nav-item.nav-dropdown
    a.nav-link.nav-dropdown-toggle(href="#")
      i.nav-icon.icon-cursor
      |  Buttons
    ul.nav-dropdown-items
      li.nav-item
        a.nav-link(href='buttons/buttons.html')
          i.nav-icon.icon-cursor
          |  Buttons
      li.nav-item
        a.nav-link(href='buttons/button-group.html')
          i.nav-icon.icon-cursor
          |  Buttons Group
      li.nav-item
        a.nav-link(href='buttons/dropdowns.html')
          i.nav-icon.icon-cursor
          |  Dropdowns
      li.nav-item
        a.nav-link(href='buttons/brand-buttons.html')
          i.nav-icon.icon-cursor
          |  Brand Buttons
  li.nav-item
    a.nav-link(href='charts.html')
      i.nav-icon.icon-pie-chart
      |  Charts
  li.nav-item.nav-dropdown
    a.nav-link.nav-dropdown-toggle(href='#')
      i.nav-icon.icon-star
      |  Icons
    ul.nav-dropdown-items
      li.nav-item
        a.nav-link(href='icons/coreui-icons.html')
          i.nav-icon.icon-star
          |  CoreUI Icons
          span.badge.badge-success NEW
      li.nav-item
        a.nav-link(href='icons/flags.html')
          i.nav-icon.icon-star
          |  Flags
      li.nav-item
        a.nav-link(href='icons/font-awesome.html')
          i.nav-icon.icon-star
          |  Font Awesome
          span.badge.badge-secondary 4.7
      li.nav-item
        a.nav-link(href='icons/simple-line-icons.html')
          i.nav-icon.icon-star
          |  Simple Line Icons
  li.nav-item.nav-dropdown
    a.nav-link.nav-dropdown-toggle(href='#')
      i.nav-icon.icon-bell
      |  Notifications
    ul.nav-dropdown-items
      li.nav-item
        a.nav-link(href='notifications/alerts.html')
          i.nav-icon.icon-bell
          |  Alerts
      li.nav-item
        a.nav-link(href='notifications/badge.html')
          i.nav-icon.icon-bell
          |  Badge
      li.nav-item
        a.nav-link(href='notifications/modals.html')
          i.nav-icon.icon-bell
          |  Modals
  li.nav-item
    a.nav-link(href='widgets.html')
      i.nav-icon.icon-calculator
      |  Widgets
      span.badge.badge-primary NEW
  li.divider
  li.nav-title
    | Extras
  li.nav-item.nav-dropdown
    a.nav-link.nav-dropdown-toggle(href='#')
      i.nav-icon.icon-star
      |  Pages
    ul.nav-dropdown-items
      li.nav-item
        a.nav-link(href=ajax ? 'login.html' : 'login.html' target="_top")
          i.nav-icon.icon-star
          |  Login
      li.nav-item
        a.nav-link(href=ajax ? 'register.html' : 'register.html' target="_top")
          i.nav-icon.icon-star
          |  Register
      li.nav-item
        a.nav-link(href=ajax ? '404.html' : '404.html' target="_top")
          i.nav-icon.icon-star
          |  Error 404
      li.nav-item
        a.nav-link(href=ajax ? '500.html' : '500.html' target="_top")
          i.nav-icon.icon-star
          |  Error 500
  li.nav-item.mt-auto
    a.nav-link.nav-link-success(href="https://coreui.io" target="_top")
      i.nav-icon.icon-cloud-download
      |  Download CoreUI
  li.nav-item
    a.nav-link.nav-link-danger(href="https://coreui.io/pro/" target="_top")
      i.nav-icon.icon-layers
      |  Try CoreUI
      strong PRO
