.sidebar
  nav.sidebar-nav
    ul.nav
      if !starter
        li.nav-title
          | Viume
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            i.nav-icon.icon-speedometer
            |  Dashboard
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='index.html#overview')
                i.nav-icon.icons.cui-pie-chart
                |  Overview
            li.nav-item
              a.nav-link(href='index.html#recomendations')
                i.nav-icon.icons.cui-star
                |  Recommendations
            li.nav-item
              a.nav-link(href='index.html#customers')
                i.nav-icon.icons.cui-people
                |  Customers
            li.nav-item
              a.nav-link(href='index.html#marketing')
                i.nav-icon.icons.cui-globe
                |  Marketing activities
        li.nav-item
          a.nav-link(href="configuration.html")
            i.nav-icon.icons.cui-cog
            |  Configuration

        li.nav-item
          a.nav-link(href="accounts.html")
            i.nav-icon.icon-user
            |  Account
        //include menu.pug

  button.sidebar-minimizer.brand-minimizer(type="button")
