extends /pages.pug

block scripts
  script(src='js/login.js')

block view
  .container
    .row.justify-content-center
      .col-md-6
        img.img-fluid(src="img/brand/viume-big.png" alt="Viume Logo")
    .row.justify-content-center
      .col-md-6
        .card-group
          .card.p-4
            .card-body
              h1 Login
              p.text-muted Sign In to your account
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text
                    i.icon-user
                input.form-control(type='text', placeholder='Username')
              .input-group.mb-4
                .input-group-prepend
                  span.input-group-text
                    i.icon-lock
                input.form-control(type='password', placeholder='Password')
              .row
                .col-12
                  .alert.alert-danger.d-none
                    | Incorrect username or password
              .row
                .col-6
                  button.btn.btn-primary.px-4.btn-login(type='button') Login
                .col-6.text-right
                  button.btn.btn-link.px-0(type='button') Forgot password?

