- var static = true
doctype html
include ../partials/banner.pug

html(lang='en')
  head
    base(href=base)
    include ../partials/head.pug
    block styles
  body.app.header-fixed.sidebar-minimized.aside-menu-fixed.sidebar-lg-show
    include ../partials/header.pug
    .app-body
      include ../partials/sidebar.pug
      main(class='main')
        .container-fluid.mt-3
          block view

      include ../partials/aside.pug
    include ../partials/footer.pug
    include ../partials/scripts.pug
    include ../partials/basic.pug
