extends /default.pug

block view
  .row
    .col-sm-12
      h1 Configuration
    .col-sm-12
      .alert.alert-success(role="alert") Trigger created
  .row.mb-2
    .col-sm-5.offset-sm-1
      .row.mb-4
        .col-sm-3
          label(for="triggerNameInput")
            strong Trigger name
        .col-sm-9
          input.form-control(type="text" name="triggerNameInput" placeholder="Call for UK out-of-hours team")
      .row.mb-4
        .col-sm-3
          label(for="logicTypeOption")
            strong Logic type
        .col-sm-9
          select.form-control(name="logicTypeOption")
            option(value="1") Match all trigers
            option(value="2")
            option(value="3")
    .col-sm-4.offset-sm-2
      button.btn.btn-success(type="button") Test Trigger
      button.btn.btn-success(type="button") Save
      button.btn.btn-primary(type="button") All Triggers
  .row
    .col-sm-12
      h2 Rules
      hr
    .col-sm-4
      strong If the shopper sees this
    .col-sm-8
      strong Recommend Products According to the Following Criteria
    .col-sm-12
      hr
  .row.mb-3
    .col-sm-4
      select.form-control(name="businessHoursOption")
        option(value="1") Any Product
        option(value="2") Select Product
        option(value="3") Combine Product
    .col-sm-3
      select.form-control(name="isNotGivenOption")
        option(value="1") show
        option(value="2") hide
    .col-sm-3
      select.form-control(name="isNotGivenOption2")
        option(value="1") Select field ...
    .col-sm-1.offset-sm-1
      button.btn.btn-danger(type="button")
        i.icons.cui-trash
    .col-sm-12
      hr
  .row.mb-3
    .col-sm-4
      select.form-control(name="businessHoursOption")
        option(value="1") Any Product
        option(value="2") Select Product
        option(value="3") Combine Product
    .col-sm-3
      select.form-control(name="isNotGivenOption")
        option(value="1") show
        option(value="2") hide
    .col-sm-3
      select.form-control(name="isNotGivenOption2")
        option(value="1") Select field ...
    .col-sm-1.offset-sm-1
      button.btn.btn-danger(type="button")
        i.icons.cui-trash
    .col-sm-12
      hr

  .row.mb-4
    .col-12.col-lg-4
      button.btn.btn-primary(type="button") + Add condition
      button.btn.btn-success(type="button") Save Conditions

  .jumbotron.back-white
    .row
      .col-12
        h2 PDP Appearance
    .row
      .col-6
        .card
          .card-body
            h3 Number of Items in Outfit
            .row
              .col-12
                p Select the range of items that appear in an outfit
            .row
              .col-2
                | Min
                input(type='number' value='1' min='1' max='10')
              .col-2
                | Max
                input(type='number' value='5' min='1' max='10')
      .col-6
        .card
          .card-body
            h3 Number of Outfits
            .row
              .col-12
                p Select the maximum number of outfits per PDP
            .row
              .col-3
                | Max
                input(type='number' value='1' min='1' max='10')


  .jumbotron.back-white
    .row
      .col-12
        .card
          .card-header
            h3 Seasons
          .card-body
            .row
              .col-8
                | Combine items for diferent Seasons?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")

    .row
      .col-12
        .card
          .card-header
            h3 Sale Items
          .card-body
            .row
              .col-8
                | Combine sale items and regularly priced items?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")

    .row
      .col-12
        .card
          .card-header
            h3 Style
          .card-body
            .row
              .col-8
                | Combine items from different styles?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")

    .row
      .col-12
        .card
          .card-header
            h3 Occasions
          .card-body
            .row
              .col-8
                | Combine items from different ocassions?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")
                button.btn.btn-secondary.mt-2 Set Default

    .row
      .col-12
        .card
          .card-header
            h3 Brands
          .card-body
            .row
              .col-8
                | Combine items from different brands?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")
                button.btn.btn-secondary.mt-2 Set Default

