.row.mb-4
    .col-sm-12
        a(name='recomendations')
            h2 Recommendations
.row.mb-4
    .col-sm-12
        h3 Products Category
    //.row
.row.mb-4
    .col-sm-6
      strong Filtrar por:
      br
      br
      select.form-control(name="filtrarPorOption")
        option(value="1") Top Category
        option(value="2") Top Item
        option(value="3") Top Color
        option(value="4") Top Fit
        option(value="5") Top Style
        option(value="6") Top Size
    .col-sm-3
      .float-right
        strong Seleccionar fecha:
        br
        br
        input.form-control(type="date" name="fechaInput")
    .col-sm-3
      .btn-group.btn-group-toggle.float-right.mt-5(data-toggle='buttons')
        label.btn.btn-outline-secondary
          input#option1(type='radio', name='options', autocomplete='off')
          |  Day
        label.btn.btn-outline-secondary.active
          input#option2(type='radio', name='options', autocomplete='off', checked='')
          |  Month
        label.btn.btn-outline-secondary
          input#option3(type='radio', name='options', autocomplete='off')
          |  Year
.row
    .col-sm-12
      .card
        .card-header
          i.fa.fa-align-justify
          |  Results
        .card-body
          table.table.table-responsive-sm
            thead
              tr
                th Id
                th Img
                th Category
                th Color
                th Bodyshape
                th Ocassion
            tbody
              tr
                td 1
                td imagen1
                td cardigan
                td
                  span.badge.badge-success.p-2
                td apple
                td freetime
              tr
                td 2
                td imagen2
                td trousers
                td
                  span.badge.badge-danger.p-2
                td neat hourglass
                td work
              tr
                td 3
                td imagen3
                td skirts
                td
                  span.badge.badge-secondary.p-2
                td column
                td work
              tr
                td 4
                td imagen4
                td shirt
                td
                  span.badge.badge-warning.p-2
                td rectangle
                td night out
              tr
                td 5
                td imagen5
                td leggins
                td
                  span.badge.badge-success.p-2
                td column
                td work out
          ul.pagination
            li.page-item
              a.page-link(href='#') Prev
            li.page-item.active
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') 4
            li.page-item
              a.page-link(href='#') Next
.row
    .col-sm-12
        .card
            .card-header
                | Recommendations x Actions
                .card-header-actions
                    a.card-header-action(href='http://www.chartjs.org', target='_blank')
                    small.text-muted docs
                .card-body
                  .row
                    .col-sm-4
                      strong Select KPI:
                      select.form-control(name="selectKPIOption" placeholder="Select KPI")
                        option(value="1") AOV
                        option(value="2") AIV
                        option(value="3") Cross Selling
                        option(value="4") Completed Survey
                        option(value="5") ...
                    .col-sm-4
                      strong Customer Characteristics:
                      select.form-control(name="customCaracteristicsOption")
                        option(value="1") All
                        option(value="2") Bodyshape
                        option(value="3") Eyes color
                        option(value="4") Location
                        option(value="5") Ocupation
                        option(value="6") ...
                    .col-sm-4
                      strong Loyal Customers:
                      select.form-control(name="loyalCustomOption")
                        option(value="1") Type of Customer
                        option(value="2") New
                        option(value="3") Recurrent
                        option(value="4") Winback
                        option(value="5") Loyal
                        option(value="6") ...
                .chart-wrapper
                    canvas#canvas-1
.row
    .col-sm-12
        h3 Business conditions
.row
  .col-lg-12
    .card
      .card-header
        i.fa.fa-align-justify
        |  Combined All Table
      .card-body
        table.table.table-responsive-sm.table-bordered.table-striped.table-sm
          thead
            tr
              th Username
              th Date registered
              th Role
              th Status
          tbody
            tr
              td Vishnu Serghei
              td 2012/01/01
              td Member
              td
                span.badge.badge-success Active
            tr
              td Zbyněk Phoibos
              td 2012/02/01
              td Staff
              td
                span.badge.badge-danger Banned
            tr
              td Einar Randall
              td 2012/02/01
              td Admin
              td
                span.badge.badge-secondary Inactive
            tr
              td Félix Troels
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
            tr
              td Aulus Agmundr
              td 2012/01/21
              td Staff
              td
                span.badge.badge-success Active
        nav
          ul.pagination
            li.page-item
              a.page-link(href='#') Prev
            li.page-item.active
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') 4
            li.page-item
              a.page-link(href='#') Next
.row
  .col-lg-12
    .card
      .card-body
        .row
          .col-sm-5
            h4.card-title.mb-0 Traffic
            .small.text-muted November 2017
          // /.col
          .col-sm-7.d-none.d-md-block
            button.btn.btn-primary.float-right(type='button')
              i.icon-cloud-download
            .btn-group.btn-group-toggle.float-right.mr-3(data-toggle='buttons')
              label.btn.btn-outline-secondary
                input#option1(type='radio', name='options', autocomplete='off')
                |  Day
              label.btn.btn-outline-secondary.active
                input#option2(type='radio', name='options', autocomplete='off', checked='')
                |  Month
              label.btn.btn-outline-secondary
                input#option3(type='radio', name='options', autocomplete='off')
                |  Year
          // /.col
        // /.row
        .chart-wrapper(style='height:300px;margin-top:40px;')
          canvas#business-chart.chart(height='300')
      .card-footer
        .row.text-center
          .col-sm-12.col-md.mb-sm-2.mb-0
            .text-muted Visits
            strong 29.703 Users (40%)
            .progress.progress-xs.mt-2
              .progress-bar.bg-success(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
          .col-sm-12.col-md.mb-sm-2.mb-0
            .text-muted Unique
            strong 24.093 Users (20%)
            .progress.progress-xs.mt-2
              .progress-bar.bg-info(role='progressbar', style='width: 20%', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
          .col-sm-12.col-md.mb-sm-2.mb-0
            .text-muted Likes/Dislikes
            strong 78.706 Views (60%)
            .progress.progress-xs.mt-2
              .progress-bar.bg-warning(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
          .col-sm-12.col-md.mb-sm-2.mb-0
            .text-muted New Users
            strong 22.123 Users (80%)
            .progress.progress-xs.mt-2
              .progress-bar.bg-danger(role='progressbar', style='width: 80%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
          .col-sm-12.col-md.mb-sm-2.mb-0
            .text-muted Bounce Rate
            strong 40.15%
            .progress.progress-xs.mt-2
              .progress-bar(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
