
.row.mb-2
    .col-sm-12
        a(name='customers')
            h2 Customers
.row.mb-2
    .col-sm-12
        h3 Products Category
.row
    .col-sm-12
      .card
          .card-header
            i.fa.fa-align-justify
            |  Customers
          .card-body
            table.table.table-responsive-sm.table-bordered
              thead
                tr
                  th Customer id
                  th Customer purchase frequency
                  th Customer type
                  th Social media profiles
                  th Recommendations
              tbody
                tr
                  td 145
                  td purchase frequency
                  td type
                  td profile
                  td recommendation
                tr
                  td 147
                  td purchase frequency
                  td type
                  td profile
                  td recommendation
                tr
                  td 158
                  td purchase frequency
                  td type
                  td profile
                  td recommendation
                tr
                  td 189
                  td purchase frequency
                  td type
                  td profile
                  td recommendation
                tr
                  td 190
                  td purchase frequency
                  td type
                  td profile
                  td recommendation
            ul.pagination
              li.page-item
                a.page-link(href='#') Prev
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') Next
.row
  .col-4
    .card
      .card-body
        .avatar.float-left.mr-3.pb-5.mb-3
          img.img-avatar(src='img/avatars/4.jpg')

        h3.font-weight-bold
          | Olivia Young
        div
          i.fa.fa-envelope
          | &nbsp;olivia@young.com
        div
          i.fa.fa-location-arrow
          | &nbsp;New York, NY
  .col-2
    .card
      .card-body.p-3.d-flex.align-items-center
        i.fa.fa-archive.bg-warning.p-3.font-2xl.mr-3
        div
          .text-value-sm.text-warning 5
          .text-muted.text-uppercase.font-weight-bold.small Orders

  .col-2
    .card
      .card-body.p-3.d-flex.align-items-center
        i.fa.fa-money.bg-primary.p-3.font-2xl.mr-3
        div
          .text-value-sm.text-primary $415.52
          .text-muted.text-uppercase.font-weight-bold.small Total Spent

  .col-2
    .card
      .card-body.p-3.d-flex.align-items-center
        i.fa.fa-shopping-bag.bg-success.p-3.font-2xl.mr-3
        div
          .text-value-sm.text-success $83.10
          .text-muted.text-uppercase.font-weight-bold.small AOV

  .col-2
    .card
      .card-body.p-3.d-flex.align-items-center
        i.fa.fa-percent.bg-danger.p-3.font-2xl.mr-3
        div
          .text-value-sm.text-danger 2 / Year
          .text-muted.text-uppercase.font-weight-bold.small Frequency

.row
  .col-6
    .card
      .card-body
        h3 Customer ID: 123LMHY&7
        div
          a.weatherwidget-io(href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-days="3" data-theme="original") NEW YORK WEATHER
    .card
      .card-body
        h3.mx-auto Monthly Box Needed
        img.img-fluid(src='img/icons/adasda.jpg')
  .col-6
    .card
      .card-body
        h3 60% Prepared for Winter
        .row
          .col-4.p-5.mx-auto
            img.img-fluid(src='img/icons/Recurso 1155xxxhdpi.png' width='75%')
          .col-4.p-5
            img.img-fluid(src='img/icons/Recurso 1147xxxhdpi.png' width='75%')
          .col-4.p-5
            img.img-fluid(src='img/icons/Recurso 1152xxxhdpi.png' width='75%')
        .row
          .col-4
            img.img-fluid(src='img/icons/Recurso 1153xxxhdpi.png' width='75%')
          .col-4
            img.img-fluid(src='img/icons/Recurso 1144xxxhdpi.png' width='75%')
          .col-4
            img.img-fluid(src='img/icons/Recurso 1154xxxhdpi.png' width='75%')
        .row
          img.img-fluid.mx-auto(src='img/cuerpo.png')
    .card
      .card-body
        h5 Low Presence of Red in Wardrobe
        .row
          .col-6
            img.img-fluid(src='img/piechart.png')
          .col-6
            img.img-fluid(src='img/ropa.png')


.row
    .col-sm-12
        .card
            .card-header
                | Line Chart
                .card-header-actions
                    a.card-header-action(href='http://www.chartjs.org', target='_blank')
                    small.text-muted docs
                .card-body
                .chart-wrapper
                    canvas#canvas-7
    .col-sm-12
        .card
            .card-header
                | Bar Chart
                .card-header-actions
                    a.card-header-action(href='http://www.chartjs.org', target='_blank')
                    small.text-muted docs
                .card-body
                .chart-wrapper
                    canvas#canvas-8
.row
    .col-sm-12
        h3 Business conditions
.row
    .col-lg-12
        .card
          .card-header
            i.fa.fa-align-justify
            |  Combined All Table
          .card-body
            table.table.table-responsive-sm.table-bordered.table-striped.table-sm
              thead
                tr
                  th Username
                  th Date registered
                  th Role
                  th Status
              tbody
                tr
                  td Vishnu Serghei
                  td 2012/01/01
                  td Member
                  td
                    span.badge.badge-success Active
                tr
                  td Zbyněk Phoibos
                  td 2012/02/01
                  td Staff
                  td
                    span.badge.badge-danger Banned
                tr
                  td Einar Randall
                  td 2012/02/01
                  td Admin
                  td
                    span.badge.badge-secondary Inactive
                tr
                  td Félix Troels
                  td 2012/03/01
                  td Member
                  td
                    span.badge.badge-warning Pending
                tr
                  td Aulus Agmundr
                  td 2012/01/21
                  td Staff
                  td
                    span.badge.badge-success Active
            nav
              ul.pagination
                li.page-item
                  a.page-link(href='#') Prev
                li.page-item.active
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') 4
                li.page-item
                  a.page-link(href='#') Next
    .col-lg-12
      .card
        .card-body
          .row
            .col-sm-5
              h4.card-title.mb-0 Traffic
              .small.text-muted November 2017
            // /.col
            .col-sm-7.d-none.d-md-block
              button.btn.btn-primary.float-right(type='button')
                i.icon-cloud-download
              .btn-group.btn-group-toggle.float-right.mr-3(data-toggle='buttons')
                label.btn.btn-outline-secondary
                  input#option1(type='radio', name='options', autocomplete='off')
                  |  Day
                label.btn.btn-outline-secondary.active
                  input#option2(type='radio', name='options', autocomplete='off', checked='')
                  |  Month
                label.btn.btn-outline-secondary
                  input#option3(type='radio', name='options', autocomplete='off')
                  |  Year
            // /.col
          // /.row
          .chart-wrapper(style='height:300px;margin-top:40px;')
            canvas#conditions-chart.chart(height='300')
        .card-footer
          .row.text-center
            .col-sm-12.col-md.mb-sm-2.mb-0
              .text-muted Visits
              strong 29.703 Users (40%)
              .progress.progress-xs.mt-2
                .progress-bar.bg-success(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
            .col-sm-12.col-md.mb-sm-2.mb-0
              .text-muted Unique
              strong 24.093 Users (20%)
              .progress.progress-xs.mt-2
                .progress-bar.bg-info(role='progressbar', style='width: 20%', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
            .col-sm-12.col-md.mb-sm-2.mb-0
              .text-muted Likes/Dislikes
              strong 78.706 Views (60%)
              .progress.progress-xs.mt-2
                .progress-bar.bg-warning(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
            .col-sm-12.col-md.mb-sm-2.mb-0
              .text-muted New Users
              strong 22.123 Users (80%)
              .progress.progress-xs.mt-2
                .progress-bar.bg-danger(role='progressbar', style='width: 80%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
            .col-sm-12.col-md.mb-sm-2.mb-0
              .text-muted Bounce Rate
              strong 40.15%
              .progress.progress-xs.mt-2
                .progress-bar(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
