
.row
  .col-sm-12
    a(name='marketing')
      h2 Marketing Activities
.row
  .col-sm-12
    .list-group
      a.list-group-item.list-group-item-action Remarketing
      a.list-group-item.list-group-item-action Direct marketing
      a.list-group-item.list-group-item-action Social ads
      a.list-group-item.list-group-item-action Traffic

