<div class="row mb-4">
  <div class="col-sm-12"><a name="recomendations">
      <h2>Recommendations</h2>
    </a></div>
</div>
<div class="row mb-4">
  <div class="col-sm-12">
    <h3>Products Category</h3>
  </div>
  <!--.row-->
</div>
<div class="row mb-4">
  <div class="col-sm-6"><strong>Filtrar por:</strong><br /><br />
    <select class="form-control" name="filtrarPorOption">
      <option value="1">Top Category</option>
      <option value="2">Top Item</option>
      <option value="3">Top Color</option>
      <option value="4">Top Fit</option>
      <option value="5">Top Style</option>
      <option value="6">Top Size</option>
    </select>
  </div>
  <div class="col-sm-3">
    <div class="float-right"><strong>Seleccionar fecha:</strong><br /><br />
      <input class="form-control" type="date" name="fechaInput" />
    </div>
  </div>
  <div class="col-sm-3">
    <div class="btn-group btn-group-toggle float-right mt-5" data-toggle="buttons">
      <label class="btn btn-outline-secondary">
        <input id="option1" type="radio" name="options" autocomplete="off" /> Day
      </label>
      <label class="btn btn-outline-secondary active">
        <input id="option2" type="radio" name="options" autocomplete="off" checked="" /> Month
      </label>
      <label class="btn btn-outline-secondary">
        <input id="option3" type="radio" name="options" autocomplete="off" /> Year
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-align-justify"></i> Results</div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th>Id</th>
              <th>Img</th>
              <th>Category</th>
              <th>Color</th>
              <th>Bodyshape</th>
              <th>Ocassion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>imagen1</td>
              <td>cardigan</td>
              <td><span class="badge badge-success p-2"></span></td>
              <td>apple</td>
              <td>freetime</td>
            </tr>
            <tr>
              <td>2</td>
              <td>imagen2</td>
              <td>trousers</td>
              <td><span class="badge badge-danger p-2"></span></td>
              <td>neat hourglass</td>
              <td>work</td>
            </tr>
            <tr>
              <td>3</td>
              <td>imagen3</td>
              <td>skirts</td>
              <td><span class="badge badge-secondary p-2"></span></td>
              <td>column</td>
              <td>work</td>
            </tr>
            <tr>
              <td>4</td>
              <td>imagen4</td>
              <td>shirt</td>
              <td><span class="badge badge-warning p-2"></span></td>
              <td>rectangle</td>
              <td>night out</td>
            </tr>
            <tr>
              <td>5</td>
              <td>imagen5</td>
              <td>leggins</td>
              <td><span class="badge badge-success p-2"></span></td>
              <td>column</td>
              <td>work out</td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Recommendations x Actions
        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"></a><small class="text-muted">docs</small></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4"><strong>Select KPI:</strong>
              <select class="form-control" name="selectKPIOption" placeholder="Select KPI">
                <option value="1">AOV</option>
                <option value="2">AIV</option>
                <option value="3">Cross Selling</option>
                <option value="4">Completed Survey</option>
                <option value="5">...</option>
              </select>
            </div>
            <div class="col-sm-4"><strong>Customer Characteristics:</strong>
              <select class="form-control" name="customCaracteristicsOption">
                <option value="1">All</option>
                <option value="2">Bodyshape</option>
                <option value="3">Eyes color</option>
                <option value="4">Location</option>
                <option value="5">Ocupation</option>
                <option value="6">...</option>
              </select>
            </div>
            <div class="col-sm-4"><strong>Loyal Customers:</strong>
              <select class="form-control" name="loyalCustomOption">
                <option value="1">Type of Customer</option>
                <option value="2">New</option>
                <option value="3">Recurrent</option>
                <option value="4">Winback</option>
                <option value="5">Loyal</option>
                <option value="6">...</option>
              </select>
            </div>
          </div>
        </div>
        <div class="chart-wrapper">
          <canvas id="canvas-1"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Business conditions</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-align-justify"></i> Combined All Table</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Username</th>
              <th>Date registered</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td><span class="badge badge-success">Active</span></td>
            </tr>
            <tr>
              <td>Zbyněk Phoibos</td>
              <td>2012/02/01</td>
              <td>Staff</td>
              <td><span class="badge badge-danger">Banned</span></td>
            </tr>
            <tr>
              <td>Einar Randall</td>
              <td>2012/02/01</td>
              <td>Admin</td>
              <td><span class="badge badge-secondary">Inactive</span></td>
            </tr>
            <tr>
              <td>Félix Troels</td>
              <td>2012/03/01</td>
              <td>Member</td>
              <td><span class="badge badge-warning">Pending</span></td>
            </tr>
            <tr>
              <td>Aulus Agmundr</td>
              <td>2012/01/21</td>
              <td>Staff</td>
              <td><span class="badge badge-success">Active</span></td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Traffic</h4>
            <div class="small text-muted">November 2017</div>
          </div>
          <!-- /.col-->
          <div class="col-sm-7 d-none d-md-block">
            <button class="btn btn-primary float-right" type="button"><i class="icon-cloud-download"></i></button>
            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
              <label class="btn btn-outline-secondary">
                <input id="option1" type="radio" name="options" autocomplete="off" /> Day
              </label>
              <label class="btn btn-outline-secondary active">
                <input id="option2" type="radio" name="options" autocomplete="off" checked="" /> Month
              </label>
              <label class="btn btn-outline-secondary">
                <input id="option3" type="radio" name="options" autocomplete="off" /> Year
              </label>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
        <div class="chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas class="chart" id="business-chart" height="300"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Visits</div><strong>29.703 Users (40%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Unique</div><strong>24.093 Users (20%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Likes/Dislikes</div><strong>78.706 Views (60%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">New Users</div><strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Bounce Rate</div><strong>40.15%</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>