<div class="row mb-2">
  <div class="col-sm-12"><a name="customers">
      <h2>Customers</h2>
    </a></div>
</div>
<div class="row mb-2">
  <div class="col-sm-12">
    <h3>Products Category</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-align-justify"></i> Customers</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered">
          <thead>
            <tr>
              <th>Customer id</th>
              <th>Customer purchase frequency</th>
              <th>Customer type</th>
              <th>Social media profiles</th>
              <th>Recommendations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>145</td>
              <td>purchase frequency</td>
              <td>type</td>
              <td>profile</td>
              <td>recommendation</td>
            </tr>
            <tr>
              <td>147</td>
              <td>purchase frequency</td>
              <td>type</td>
              <td>profile</td>
              <td>recommendation</td>
            </tr>
            <tr>
              <td>158</td>
              <td>purchase frequency</td>
              <td>type</td>
              <td>profile</td>
              <td>recommendation</td>
            </tr>
            <tr>
              <td>189</td>
              <td>purchase frequency</td>
              <td>type</td>
              <td>profile</td>
              <td>recommendation</td>
            </tr>
            <tr>
              <td>190</td>
              <td>purchase frequency</td>
              <td>type</td>
              <td>profile</td>
              <td>recommendation</td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="avatar float-left mr-3 pb-5 mb-3"><img class="img-avatar" src="img/avatars/4.jpg" /></div>
        <h3 class="font-weight-bold">Olivia Young</h3>
        <div><i class="fa fa-envelope"></i>&nbsp;olivia@young.com</div>
        <div><i class="fa fa-location-arrow"></i>&nbsp;New York, NY</div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-body p-3 d-flex align-items-center"><i class="fa fa-archive bg-warning p-3 font-2xl mr-3"></i>
        <div>
          <div class="text-value-sm text-warning">5</div>
          <div class="text-muted text-uppercase font-weight-bold small">Orders</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-body p-3 d-flex align-items-center"><i class="fa fa-money bg-primary p-3 font-2xl mr-3"></i>
        <div>
          <div class="text-value-sm text-primary">$415.52</div>
          <div class="text-muted text-uppercase font-weight-bold small">Total Spent</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-body p-3 d-flex align-items-center"><i class="fa fa-shopping-bag bg-success p-3 font-2xl mr-3"></i>
        <div>
          <div class="text-value-sm text-success">$83.10</div>
          <div class="text-muted text-uppercase font-weight-bold small">AOV</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-body p-3 d-flex align-items-center"><i class="fa fa-percent bg-danger p-3 font-2xl mr-3"></i>
        <div>
          <div class="text-value-sm text-danger">2 / Year</div>
          <div class="text-muted text-uppercase font-weight-bold small">Frequency</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>Customer ID: 123LMHY&7</h3>
        <div><a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-days="3" data-theme="original">NEW YORK WEATHER</a></div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="mx-auto">Monthly Box Needed</h3><img class="img-fluid" src="img/icons/adasda.jpg" />
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>60% Prepared for Winter</h3>
        <div class="row">
          <div class="col-4 p-5 mx-auto"><img class="img-fluid" src="img/icons/Recurso 1155xxxhdpi.png" width="75%" /></div>
          <div class="col-4 p-5"><img class="img-fluid" src="img/icons/Recurso 1147xxxhdpi.png" width="75%" /></div>
          <div class="col-4 p-5"><img class="img-fluid" src="img/icons/Recurso 1152xxxhdpi.png" width="75%" /></div>
        </div>
        <div class="row">
          <div class="col-4"><img class="img-fluid" src="img/icons/Recurso 1153xxxhdpi.png" width="75%" /></div>
          <div class="col-4"><img class="img-fluid" src="img/icons/Recurso 1144xxxhdpi.png" width="75%" /></div>
          <div class="col-4"><img class="img-fluid" src="img/icons/Recurso 1154xxxhdpi.png" width="75%" /></div>
        </div>
        <div class="row"><img class="img-fluid mx-auto" src="img/cuerpo.png" /></div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>Low Presence of Red in Wardrobe</h5>
        <div class="row">
          <div class="col-6"><img class="img-fluid" src="img/piechart.png" /></div>
          <div class="col-6"><img class="img-fluid" src="img/ropa.png" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Line Chart
        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"></a><small class="text-muted">docs</small></div>
        <div class="card-body"></div>
        <div class="chart-wrapper">
          <canvas id="canvas-7"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Bar Chart
        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"></a><small class="text-muted">docs</small></div>
        <div class="card-body"></div>
        <div class="chart-wrapper">
          <canvas id="canvas-8"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Business conditions</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-align-justify"></i> Combined All Table</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Username</th>
              <th>Date registered</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td><span class="badge badge-success">Active</span></td>
            </tr>
            <tr>
              <td>Zbyněk Phoibos</td>
              <td>2012/02/01</td>
              <td>Staff</td>
              <td><span class="badge badge-danger">Banned</span></td>
            </tr>
            <tr>
              <td>Einar Randall</td>
              <td>2012/02/01</td>
              <td>Admin</td>
              <td><span class="badge badge-secondary">Inactive</span></td>
            </tr>
            <tr>
              <td>Félix Troels</td>
              <td>2012/03/01</td>
              <td>Member</td>
              <td><span class="badge badge-warning">Pending</span></td>
            </tr>
            <tr>
              <td>Aulus Agmundr</td>
              <td>2012/01/21</td>
              <td>Staff</td>
              <td><span class="badge badge-success">Active</span></td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Traffic</h4>
            <div class="small text-muted">November 2017</div>
          </div>
          <!-- /.col-->
          <div class="col-sm-7 d-none d-md-block">
            <button class="btn btn-primary float-right" type="button"><i class="icon-cloud-download"></i></button>
            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
              <label class="btn btn-outline-secondary">
                <input id="option1" type="radio" name="options" autocomplete="off" /> Day
              </label>
              <label class="btn btn-outline-secondary active">
                <input id="option2" type="radio" name="options" autocomplete="off" checked="" /> Month
              </label>
              <label class="btn btn-outline-secondary">
                <input id="option3" type="radio" name="options" autocomplete="off" /> Year
              </label>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
        <div class="chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas class="chart" id="conditions-chart" height="300"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Visits</div><strong>29.703 Users (40%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Unique</div><strong>24.093 Users (20%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Likes/Dislikes</div><strong>78.706 Views (60%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">New Users</div><strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Bounce Rate</div><strong>40.15%</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>