// Here you can add other styles


button.iconheader{
  @media only screen and (max-width: 992px) {
    transition: all 200ms ease-in;
    background-color: rgb(231, 231, 231) !important;
    height: 1.1rem;
    width: 40px !important;
    margin-left: 1rem;
    border-radius: 25px;
    font-size: 2rem;
      
    &:hover{
      background-color: rgb(192, 189, 189) !important;
      margin-left: 20px;
    }
    &:focus{
      outline: 0;
    }
  }
}

.trash:hover{
  transition: all 200ms ease-in;
  
  &:hover{
    color: rgba(66, 66, 66, 0.493) !important;
    font-size: 24px !important;
  }
}

.fa-check-circle{
  
  color: rgb(92,184,92);
  font-size: 2.5rem;
}

.back-white {
  
  background-color: white;
}

.text-white {
  
  color: white;
}

.iconToggler{

  border-radius: 40px !important;
  background-color: rgb(172, 172, 172);
  cursor: pointer;
  transition: all 200ms ease-in;
  &:hover{
    background-color: rgb(83, 83, 83) !important;
  }
  
}

.savedBox{

  font-size: 0.8rem;
  max-height: 300px;
  max-width: 100%;
  overflow: auto;
  background-color: #fff2eb !important;
  table{
    background-color: white;
  }
  @media only screen and (max-width: 768px) {
    max-width: 380px;
  }
}

.selectProductRow{
  transition: all 200ms ease-in
}
.selectProductRow:hover{
  background-color: #f6bb9b !important;
  cursor:pointer;
}

.selected{
  background-color: #f6bb9b !important;
  color: grey;
}

.font-size-2{
  font-size: 2rem;
}

.bg-lightgrey {
  background-color: rgb(247, 247, 247) !important;
}

.width60{
  width: 60% !important;
  white-space: nowrap !important;
}

.width20{
  width: 20% !important;
  white-space: nowrap !important;
}

.text-mutedx2{
  color: rgb(179, 179, 179);
  font-weight: bold;
}

.btn-helpdesk{
  height: 5rem !important;
  width: 100% !important;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 0px;
  font-size: 1.5rem;
}

.icon-help-desk{
  font-size: 3rem !important;
}

.QA-pair{
  margin-top: 25px;
}

.Question{
  font-size: 2rem;
  background-color: rgb(155, 155, 155);
  color: white;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Answer{
  font-size: 1.1rem;
  background-color: rgb(231, 231, 231);
  color: rgb(49, 49, 49);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#doc-index {
  font-size: 1.25rem;
  
}

#doc-index li {
  margin: 0.75rem 0;
}

#doc-index a {
  text-decoration: none;
  color: grey;
  padding: 0.25rem;
  border-radius: 5px;
  transition: all 200ms ease;
}

#doc-index a:hover {
  background-image: linear-gradient(to right, rgb(214, 214, 214) , rgb(255, 255, 255));
  color: rgb(61, 61, 61);
  margin-left: 0.25rem;
  padding-left: 0.50rem;
}

.logout-li {
  border-left: 1px solid grey;
  height: 100%;
  padding: 0.5rem 0;
  padding-left: 1rem !important;
}

.ticket-submission {
  border: 1px solid rgb(194, 194, 194);
  padding: 1rem;
  box-shadow: 2px 2px 2px silver;
}

.ticket li {
  list-style: none;
  margin-left: -2rem !important;
  padding-bottom: 0.50rem;
  
}

.ticket ul {
  border-top: 1px solid grey;
  padding-top: 2rem;
}

.ticket-header {
  cursor: pointer;
  transition: all 200ms ease-out;
  width: 100%;
  height: 100%;
  margin: 0;
}

.ticket-header:hover {
  margin-left: 0.50rem;
}

.bg-darkContrast {
  background-image: linear-gradient(to bottom right, rgb(90, 90, 90), rgb(30, 30, 30));
}

.img-avatar {
  border: 1px solid silver;
  position: absolute;
  top: -1.1rem;
  left: -0.15rem;
  transition: all 100ms ease-out;
  &:hover {
    box-shadow: 0px 1px 2px rgb(216, 216, 216);
  }
}

.color-picker {

  width: 20px;
  height: 20px;
  display: inline-block;
  // margin: 0.25rem;
  border-radius: 10px;
  position: relative;
  top: 4px;
  
}

.color-text {
  display: inline-block !important;
  width: 0.50rem !important;
  
  
}

.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 25px;
}
.color-tag {
  display: inline-block;
  border: 1px solid silver;
  margin: 0 7.5px;
  padding: 0 0.25rem;
  box-shadow: 1px 1px 2px silver;
  border-radius: 8px;
  
}

.card-rule {
  // background-image: linear-gradient(to bottom right, #fcdbc9, #f6bb9b);
  border-bottom: 1px solid silver;
}

.app-body {
  background-color: #fff8f5 !important;
  
}

.btn-success {
  background-image: linear-gradient(to right, #575aab, #26294f) !important;
  border-radius: 0;
  border: none;
  transition: all 200ms ease-out;
  &:hover,
  &:active{
    background-image: linear-gradient(to right, #6769ac, #2f314d) !important;
    box-shadow: 2px 2px 5px grey;
  }
}

.btn-warning {
  background-color:  #ffa3a3;
  border: none;
  transition: all 200ms ease-out;
  &:hover {
    background-color: #ff7a7a;
  }
  
}

.btn-primary {
  background-image: linear-gradient(to right, #575aab, #26294f) !important;
  border-radius: 0;
  border: none;
  transition: all 200ms ease-out;
  &:hover,
  &:active{
    background-image: linear-gradient(to right, #6769ac, #2f314d) !important;
    box-shadow: 2px 2px 5px grey;
  }
}

.btn-danger {
  background-image: linear-gradient(to right, #ff7a7a, #ff3e3e) !important;
  border-radius: 0;
  border: none;
  transition: all 200ms ease-out;
  &:hover,
  &:active{
    background-image: linear-gradient(to right, #ffa3a3, #ff6262) !important;
    box-shadow: 2px 2px 5px grey;
  }
}

.rmv-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 0;
  box-shadow: 0px 0px 1px grey;
  transition: all 300ms ease-out;
  position: relative;
  &:hover,
  &:active {
    box-shadow: 7px 0px 1px grey;
    right: 1px;
  }
}
hr {
  background: silver;
}

.nav-content {
  position: fixed;
}

.lista-viume {
  background-image: linear-gradient(to right, #ff6262, #fff0f0) !important;
  list-style: none;
  padding: 0.75rem;
  margin-top: 0.50rem;
  font-weight: 400;
  color: white;
  position: relative;
  left: -40px;
}

.badge-primary {
  border-radius: 0;
  background-color: #26294f;
  padding: 0.35rem;
}

.fa-window-close {
  position: relative;
  // left: 100px !important;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-out;
  margin-right: 20px;
  font-size: 1.025rem;
  &:hover {
    font-size: 1.050rem;
    margin-left: 2.5px;
  }
}

.upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.upload + label {
  width: 100%;
  height: 50px;
  font-size: 2.0rem;
  font-weight: 500;
  color: white;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ef494f;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 0px #a73337;
  cursor:pointer;
  transition: 150ms;
  &:focus,
  &:hover{
    background-color: #ff6c71;
    box-shadow: 0px 5px 0px #d03338;
  }

  span {
    font-size: 1rem;
    text-shadow: 1px 1px 1px grey;
  }
}

.upload-div {
  background: #ffc1c1;
  background-image: linear-gradient(to bottom right, #ffc1c1, #fff7f7);
  padding-bottom: 1rem;
}


